h1 { 
color: navy; 
}  
h2, h3 {
color: green; 
} 
p {
font-size: 18px; font-family: "Times New Roman", Times, serif;
}
a:link {
color: blue;
	}

a:visited {
color: red;
	}
a:hover{
	color:black;
}
body{
background: url(../img/arriere_plan1.jpg) no-repeat;

}
#univ{
height:50px;
width:88px;
}
.centrer{
text-align: center;
}
.validator{
height:31px;
width:88px;
}
